<script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" 
        th:ref="@{netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}">
</script>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>