<!DOCTYPE html>
<html>
    <head>
        <script th:replace="headerLinks"></script>
        <title>Logout Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    Logout
                </h1>
            </header>
            <form class="form-horizontal" action="/logout_action" method="get">
                <fieldset>
                    <div class="control-group">
                        <div class="controls text">
                            You currently logged as '<span th:text="${user}"> </span>'.
                        </div>
                        <div class="controls text">
                            Are you sure you want to logout?
                        </div>
                    </div>
                    <div class="form-actions">
                        <button id="logoutButton" class="btn btn-danger" type="submit">Logout</button>
                        <a class="btn" href="AllTickets.html">Back</a>
                    </div>
                </fieldset>
            </form>
        </div> 
    </body>
</html>
