<table>
    <thead>
        <tr>
            <th class="span1">Id</th>
            <th>Course</th>
            <th class="span2">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="ticket: ${tickets}" >
            <td th:text="${ticket.id}">Id</td>
            <td>
                <a th:href="@{/tickets/} + ${ticket.id}" th:text="${ticket.name}">Ticket </a>
            </td>
        </tr>
    </tbody>
</table>