<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div th:text="${name}" +  " had created a new ticket."></div>
        --------------------------
        <div class="control-label" th:text="${ticket}"></div>
        <div class="control-label" th:text="'Total price ='+${total}"></div>
        --------------------------
        <p>Please, review this course at <a href="#">link</a></p>
    </body>
</html>